<div
  class="c-range-input"
  [ngClass]="{
    'has-display-value': !options.hideDisplayValue,
    'has-ticks': options.showTicks,
  }">
  <div class="c-range-input__wrapper">
    <div [hidden]="options.hideDisplayValue" class="c-range-input__display-wrapper">
      <span #inputDisplayValue class="c-range-input__display-value">
        @if (prefix) {
          <span>{{ prefix }}</span>
        }
        <span>{{ displayValue }}</span>
        @if (suffix) {
          <span>{{ suffix }}</span>
        }
      </span>
    </div>

    <div class="c-range-input__field-wrapper">
      <input
        #input
        class="c-range-input__field"
        type="range"
        [attr.id]="id"
        [attr.max]="max"
        [attr.min]="min"
        [attr.step]="step"
        [mgCommonFormsOptionalAttributes]="{
          'aria-label': ariaLabel,
          'aria-labelledby': ariaLabelledby,
          'aria-describedby': ariaDescribedby,
          name: name,
        }"
        (blur)="onBlurEvent($event)"
        (change)="onChangeEvent($event)"
        (input)="onInputEvent($event)"
        (mouseup)="onMouseupEvent($event)"
        (touchend)="onMouseupEvent($event)" />
    </div>

    @if (options.showTicks) {
      <div class="c-range-input__ticks-wrapper">
        <svg role="presentation" width="100%" height="8" xmlns="http://www.w3.org/2000/svg">
          @for (tick of tickData; track tick) {
            <rect class="range-tick" [attr.x]="tick.x + '%'" y="-10" width="1" height="8"></rect>
          }
        </svg>
        <svg role="presentation" width="100%" height="14" xmlns="http://www.w3.org/2000/svg">
          @for (tick of tickData; track tick) {
            <ng-container>
              @if (tick.displayValue != null) {
                <text
                  class="range-value"
                  [attr.x]="tick.x + '%'"
                  text-anchor="middle"
                  (click)="onTickValueClick(tick.value)">
                  @if (prefix) {
                    <tspan>{{ prefix }}</tspan>
                  }
                  <tspan>{{ tick.displayValue }}</tspan>
                  @if (suffix) {
                    <tspan>{{ suffix }}</tspan>
                  }
                </text>
              }
            </ng-container>
          }
        </svg>
      </div>
    }

    <div class="c-range-input__overlay-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
